.material-symbols-rounded {
    font-variation-settings: 'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 24
}

figure {
    position: relative;
}

figcaption {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
    color: #666;
}

h3 {
    padding-bottom: 0.5em;
}

code {
    border-radius: 8px;
    padding: 15px !important;
}

li {
    line-height: 2em;
}

blockquote {
    font-size: 0.8em;
    margin-bottom: 2em !important;
    border-left: 7px solid #00A5E5;
    box-shadow: none !important;
    text-align: justify;
}

blockquote::before {
    content: "\201C"; /* Left double quotation mark */
    position: absolute;
    top: 10px;
    left: -60px;
    color: #00A5E5;
    font-size: 3.5em;
    font-family: sans-serif;
}

blockquote footer {
    font-size: 1em;
    font-weight: 500;
    padding-right: 40px;
    text-align: right;
}

blockquote footer cite {
    font-style: italic;
}

.git-tag {
    background: gainsboro;
    color: #222222;
    font-family: monospace;
    font-size: 0.7em;
    padding: 0 0.5em;
    line-height: 1.5em;
    border-radius: 1em;
    vertical-align: 4px;
    display: inline-block;
    margin-left: 1rem;
}

.git-tag::before {
    content: "\e892";
    font-family: "Material Symbols Outlined", sans-serif;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 1.1em;

}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

code {
    font-family: "JetBrains Mono", monospace !important;
    font-optical-sizing: auto;
    font-size: 1.1em;
    font-weight: normal;
    font-style: normal;

}

.oversized {
    background-color: #ff2c2d !important;
}

.reveal blockquote.user-story {
    width: 300px !important;
    position: relative;
    box-shadow: #222222 0 0 10px;
    border-radius: 5px;
    background-color: #ffe5b6 !important;
    border: none;
}

.reveal blockquote.user-story::before {
    content: none;
}

.reveal blockquote.user-story p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1.5em;
    font-size: 1.2em;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

.reveal blockquote.user-story footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 0.8em;
    font-weight: 500;
}

.fragment.bold.visible {
    font-weight: bold;
}

.reveal pre {
    box-shadow: #aaaaaa 0 0 30px;
    border-radius: 8px;
}
