body:after {
    content: url("images/small_logo.svg");
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 30px;
    width: 30px;
}

body.title:after {
    content: none;
}

.title-page {
    background: #EEEEEC url("images/background-title.svg") right no-repeat;
    background-size: contain;
    height: 1080px;
    position: relative;
}

.title-page:after {
    content: url("images/logo.svg");
    position: absolute;
    right: 50px;
    bottom: 30px;
    width: 250px;
    height: 100px;
}

.title-page h1 {
    font-size: 70px;
    line-height: 1.5em;
    font-weight: bold;
    text-align: left;
    padding-left: 175px;
    padding-top: 350px;
    color: #1E2124 !important;
}

.title-page h2 {
    font-size: 32px;
    line-height: 1.1em;
    font-weight: normal;
    text-align: left;
    padding-bottom: 300px;
    padding-left: 175px;
}

.title-page p {
    position: absolute;
    bottom: 100px;
    left: 175px;
    color: #00A5E5;
    font-size: 20px;
    font-weight: normal;

}

.title-page p:before {
    content: '→';
    font-size: 20px;
    padding-right: 10px;
}

.slide-background.title-page.present, .slide-background.section-page.present {
    background-image: none;
    background-color: #EEEEEC;
}

.slide-background.title-page.present:before, .slide-background.title-page.present:after {
    display: none;
}

.section-page {
    background: #EEEEEC url("images/background-section.svg") top left no-repeat;
    background-size: 600px;
    height: 1080px;
    position: relative;

}

.section-page h2 {
    color: #505961 !important;
    font-size: 56px;
    padding-top: 400px;
    font-weight: bold;
}
